<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="quiz-fav-gold.ico" type="image/x-icon">
  </head>
  <body>
    <h1>Bienvenido al proyecto Quiz 2015</h1>
    <p>El portal donde podrá crear sus propios juegos de preguntas y respuestas</p>
    <p><a href="/quizzes/question">Comenzar el concurso</a></p>
  </body>
</html>
