* {
   margin:0;
   padding:0;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#page-wrap {
   margin: 2% auto;
   color: #01DFD7;
}
#page-wrap > .main {
   border: 1px solid #999;
   padding: 1.5%;
   margin-bottom: 1px; color: black;
}
section > div { padding: 20px; }
header, nav, section { background: #CEF6CE; text-align: center; }
footer { background: #CEF6CE; text-align: center; }
nav span { margin: 0px 10px 0px 0px; }

#error-msg {
  color: orange; font-size: smaller;
}

.tema { text-transform: capitalize; }

a {
  color: #00B7FF;
}

img {
   max-width: 953px;
}

.sessionExpired {
  color: orange;
  font-size: smaller;
}
