<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Quiz 2015: Respuesta</title>
        <link rel="stylesheet" href="/stylesheets/style.css" >
        <link rel="icon" href="quiz-fav-gold.ico" type="image/x-icon">
    </head>

    <body>
        <h1>Quiz: el juego de las preguntas</h1>
        <%= respuesta %>
        <p><a href="/quizzes/question">Reintentar pregunta</a></p>
    </body>
</html>
